.hero-slider {
  height: 100vh;
  width: 100%;
  position: relative;
}

.hero-swiper {
  height: 100vh;
}

.hero-slide {
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
}

.hero-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.hero-content {
  max-width: 600px;
  z-index: 2;
}